.batiments {
    width: 60%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #1B85B8;
}

#batiments-save {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 20px);
}

#batiments-save .empty {
    grid-column: 4/-1;
}

#batiments-save .empty2 {
    grid-column: 3/-1;
}

#espaces-save {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 20px);
}