.equipements {
    width: 95%;
}

#equipements-save {
    display: grid;
    border: 5px solid #ffc736;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(14, 20px);
    background-color: #fff;
}

#equipements-demande {
    display: grid;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 20px);
    background-color: #fff;
}

#equipements-save .empty {
    grid-column: 5/-1;
}

#equipements-save .empty1 {
    grid-column: 4/-1;
}

#equipements-save .empty2 {
    grid-column: 3/-1;
}


.search-link {
    color: rgb(192, 0, 0);
}

.prec-suiv-buttons {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.prec-suiv-buttons>* {
    color: #1B85B8;
    font-weight: 900;
    font-size: 1.1rem;
}

#equipements-save textarea {
    grid-column: 2/-1;
    grid-row: 11/-1;
}

#equipements-save .empty3 {
    grid-column: 5/-1;
}

#equipements-affecter {
    display: grid;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 20px);
    background-color: #fff;
}

.reference {
    grid-column: 4 / span 2;
}


.model {
    grid-column: 2 / span 2;
}

.benef {
    grid-column: 4 / span 2;
}


#equipements-installer {
    display: grid;
    border: 5px solid #ffc736;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 20px);
    background-color: #fff;
}



#equipements-installer .empty {
    grid-column: 3/-1;
}

#equipements-installer textarea {
    grid-column: 2/span 2;
    grid-row: 6/-1;
}

.empty-row {
    grid-row: 7 / span 1;
}

#equipements-reception {
    display: grid;
    border: 5px solid #ffc736;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 20px);
    background-color: #fff;
}

#equipements-reception .empty {
    grid-column: 3/-1;
}



#equipements-reception textarea {
    grid-column: 2/-1;
    grid-row: 6/ span 3;
}

#equipements-deplacer {
    display: grid;
    border: 5px solid #ffc736;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20px);
    background-color: #fff;
}

#reception {
    margin: 0 auto;
    width: 90%;
}

#reception fieldset {
    border-radius: 8px;
    border: 1px solid #f7b510;
}

#reception legend {
    color: #1B85B8;
    font-style: italic;
    font-size: 0.8rem;
}

.fournisseur-entries {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 20px);
    font-size: 0.8rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    gap: 3px;
}

.fournisseur .show-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.fournisseur thead .show-tab {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 1px;
}

.show-tab th {
    border: 1px solid aliceblue;
    color: #1B85B8;
    font-size: 0.8rem;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-search {
    grid-column: 2 / span 3;
}

.fournisseur-entries span {
    grid-column: 5 / span 2;
}

.mybutton {
    grid-column: 1 / span 2;
}

p.search-place {
    margin: 0;
    padding: 10px 1px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-style: italic;
}

p.nav-buttons {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-buttons button {
    margin-inline: 5px;
}

p.suivant {
    text-align: end;
    margin: 5px;
}

p.suivant button {
    margin-inline: 5px;
}

#reception .type-equipement .entries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 20px);
    font-size: 0.8rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    gap: 3px;
}

.type-equipement .entries textarea {
    grid-column: 2 / span 3;
    grid-row: 3 / span 3;
}

.type-equipement .entries select {
    grid-column: 2 / span 2;
}

.entries .show-search {
    grid-column: 2 / span 2;
}

.type-equipement thead .show-tab {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 1px;
}

.caracteristics {
    grid-row: 3 / span 3;
}


/* #reception .equipement .entries {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 20px);
    font-size: 0.8rem;
    gap: 3px;
} */


/* .equipement .entries span {
    grid-column: 1/-1;
    text-align: center;
    font-weight: bold;
}

.equipement .entries textarea:nth-of-type(1) {
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
}
*/

textarea.caracteristiques {
    /* grid-column: 2 / -1;
    grid-row: 4 / span 4; */
}

.equipement .entries .caracteres {
    /* grid-row: 4 / span 4; */
}

/* p.count {
    text-align: center;
    font-weight: bold;
    margin: 8px;
    font-size: 0.9rem;
} */

/* .equipement p.navs {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.equipement p.navs button {
    margin-inline: 10px;
} */

.equipement .entries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 20px);
    font-size: 0.8rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    gap: 4px;
}

.count {
    grid-column: 1/-1;
    text-align: center;
    font-weight: bold;
}

.eq-container {
    font-weight: bold;
    font-style: italic;
}

.equipement .description {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
}

.equipement .caracteristiques {
    grid-column: 2/span 3;
    grid-row: 4 / span 3;
}

/*  */

.lot .entries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 20px);
    font-size: 0.8rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    gap: 3px;
}

.lot .entries .label-observations {
    grid-row: 3 / span 2;
}

.lot .entries textarea:nth-of-type(1) {
    grid-row: 3 / span 2;
    grid-column: 2 / span 2;
}


.lot thead .show-tab {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 40px);
    gap: 1px;
}

.lots-body {
    background-color: #fff;
    font-size: .8rem;
}

.fournisseur tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.fournisseur tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 40px);
    gap: 1px;
    border: none;
}

.fournisseur .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.fournisseur-body {
    background-color: #fff;
}


.type-equipement tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.type-equipement tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 1px;
    border: none;
}

.type-equipement .show-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.type-equipement .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
}

.type-equipement-body {
    background-color: #fff;
    font-size: .8rem;
}



.lot tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.lot tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 40px);
    gap: 1px;
    border: none;
}

.lot .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
}

.lots-body {
    background-color: #fff;
    font-size: .8rem;
}


.lequipement {
    width: 98%;
    margin: 0 auto;
}

.lequipement tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.lequipement tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 45px);
    gap: 1px;
    border: none;
}

.lequipement .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
}

.lequipement thead .show-tab {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 1px;
}


.lequipement legend {
    color: #1B85B8;
    font-style: italic;
    font-size: 0.8rem;
}

.equipement-body {
    background-color: #fff;
}




.lepersonnel tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.lepersonnel tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 1px;
    border: none;
}

.lepersonnel .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
}

.lepersonnel thead .show-tab {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 1px;
}

.lepersonnel {
    border-radius: 8px;
    border: 1px solid #f7b510;
}

.lepersonnel legend {
    color: #1B85B8;
    font-style: italic;
    font-size: 0.8rem;
}

.lepersonnel-body {
    background-color: #fff;
}

.lot-search {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20px);
    gap: 5px;
}

.respos-search {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20px);
    gap: 5px;
}

.unposte {
    grid-column: 5/-1;
}

.table-lot tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.table-lot tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 35px);
    gap: 1px;
    border: none;
}

.table-lot .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
}

.table-lot thead .show-tab {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 1px;
}


.table-respo tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.table-respo tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 30px);
    gap: 1px;
    border: none;
}

.table-respo .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
}

.table-respo thead .show-tab {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 25px);
    gap: 1px;
}

.table-perso thead .show-tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.overlay fieldset form{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 3px;
}

.overlay fieldset {
    padding: 10px;
    background-color: #fff;
    margin-left: 150px;
}

#reception .overlay fieldset legend.lalegende{
    
    padding-top: 10px;
}

.overlay .show-tab{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(1,20px);
    gap:1px;
}

.overlay .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
}

.overlay tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 25px);
    gap: 1px;
    border: none;
}

.overlay tbody{
    font-size: 0.7rem;
}