.equipements {
    width: 60%;
    margin: 0 auto;
}

#equipements-save {
    display: grid;
    border: 5px solid #ffc736;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(14, 20px);
    background-color: #fff;
}

#equipements-save .empty {
    grid-column: 5/-1;
}

#equipements-save .empty1 {
    grid-column: 4/-1;
}

#equipements-save .empty2 {
    grid-column: 3/-1;
}


.search-link {
    color: rgb(192, 0, 0);
}

.prec-suiv-buttons {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.prec-suiv-buttons>* {
    color: #1B85B8;
    font-weight: 900;
    font-size: 1.1rem;
}

#equipements-save textarea {
    grid-column: 2/-1;
    grid-row: 11/-1;
}

#equipements-save .empty3 {
    grid-column: 5/-1;
}

#equipements-affecter {
    display: grid;
    border: 5px solid #ffc736;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 20px);
    background-color: #fff;
}

#equipements-affecter .empty {
    grid-column: 3/-1;
}

#equipements-installer {
    display: grid;
    border: 5px solid #ffc736;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 20px);
    background-color: #fff;
}

#equipements-installer .empty {
    grid-column: 3/-1;
}

#equipements-installer textarea {
    grid-column: 2/span 2;
    grid-row: 6/-1;
}

.empty-row {
    grid-row: 7 / span 1;
}

#equipements-reception {
    display: grid;
    border: 5px solid #ffc736;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 20px);
    background-color: #fff;
}

#equipements-reception .empty {
    grid-column: 3/-1;
}



#equipements-reception textarea {
    grid-column: 2/-1;
    grid-row: 6/ span 3;
}

#equipements-deplacer {
    display: grid;
    border: 5px solid #ffc736;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20px);
    background-color: #fff;
}


#reception {
    width: 60%;
    margin: 0 auto;
}

.reception-lots {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 20px);
    gap: 5px;
}

.reception-lots textarea.descriptive {
    grid-column: 6/-1;
    grid-row: 4/-1;
}

#reception-fournisseur {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 20px);
    gap: 5px;
}

.reception-lots textarea.caracteristiques {
    grid-column: 2/span 3;
    grid-row: 4/-1;
}

#reception-technicien {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.livreurs {
    grid-column: 5/-1;
}

#reception-equipements {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    gap: 5px;
}

#reception-equipements span {
    font-weight: bold;
}

#reception-conclusions {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 20px);
    gap: 5px;
}

#reception-conclusions textarea {
    grid-column: 6/-1;
    grid-row: 1/-1;
}

#equipements-demande {
    display: grid;
    border: 5px solid #ffc736;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 20px);
    background-color: #fff;
}

#reception fieldset{
    padding:15px;
    margin-block: 10px;
}