.equipements {
    width: 60%;
    margin: 0 auto;
}

#equipements-save {
    display: grid;
    border: 1px solid #1B85B8;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(14, 20px);
}

#equipements-save .empty {
    grid-column: 5/-1;
}

#equipements-save .empty1 {
    grid-column: 4/-1;
}

#equipements-save .empty2 {
    grid-column: 3/-1;
}


.search-link {
    color: rgb(192, 0, 0);
}

.prec-suiv-buttons {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.prec-suiv-buttons>* {
    color: #1B85B8;
    font-weight: 900;
    font-size: 1.1rem;
}

#equipements-save textarea {
    grid-column: 2/-1;
    grid-row: 11/-1;
}

#equipements-save .empty3 {
    grid-column: 5/-1;
}

#equipements-affecter {
    display: grid;
    border: 1px solid #1B85B8;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 20px);
}

#equipements-affecter .empty {
    grid-column: 3/-1;
}

#equipements-installer {
    display: grid;
    border: 1px solid #1B85B8;
    gap: 5px;
    padding: 1rem;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 20px);
}

#equipements-installer .empty {
    grid-column: 3/-1;
}

#equipements-installer textarea {
    grid-column: 2/span 2;
    grid-row: 6/-1;
}

.empty-row {
    grid-row: 7 / span 1;
}