.accordion {
    margin: 20px auto;
    text-transform: uppercase;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 15px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}


.accordion li label {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #f7b510;
    color: #1B85B8;
}

.accordion li label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    padding: 0 10px;
    border-radius: 0 0 20px 20px;
    max-height: 0;
    font-size: clamp(0.5rem, 1vw, 0.7rem);
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    background-color: wheat;
}

.accordion .content p {
    color: #1B85B8;
    font-weight: bold;
}

.accordion .content p a:hover {
    font-weight: bold;
}

.accordion .content p.suivant {
    text-align: end;
    text-transform: capitalize;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 400px;
    padding: 0px 10px 5px;
}

.accordion input[type="radio"]:checked+label::before {
    content: "-";
    font-size: 36px;
}

.show-link {
    text-decoration: none;
    color: #1B85B8;
}