.overlay {
    position: fixed; /* Reste en place même au défilement */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Calque semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Assure que le calque est au-dessus de tout */
  }
  
  /* Le style du GIF pour le centrer */
  .spinner {
    width: 50px;
    height: 50px;
    margin-left: 150px;
  }