.connectiques {
    width: 50%;
    margin: 0 auto;
}

#connectiques-save {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 20px);
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #1B85B8;
}

#connectiques-save .empty {
    grid-column: 3/-1;
}