.maintenance {
    max-width: 98%;
    margin: 0 auto;
}

#incidents-save {
    display: grid;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 20px);
    background-color: #fff;
}

#interventions-save {
    display: grid;
    border-radius: 8px;
    padding: 0.5rem;
    gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 20px);
    background-color: #fff;
    font-size: 0.8rem;
}

.incidents tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.incidents tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 45px);
    gap: 1px;
    border: none;
}

.incidents thead .show-tab {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 45px);
    gap: 1px;
}

.incidence-body {
    background-color: #fff;
    font-size: 0.7rem;
}



.interventions tr.titles {
    margin: 5px;
    text-align: center;
    font-size: 0.7rem;
}

.interventions tr.dynamic-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 45px);
    gap: 1px;
    border: none;
}

.interventions thead .show-tab {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 40px);
    gap: 1px;

}

.interventions thead .show-tab td {
    font-size: 0.7rem;
}

.interventions-body {
    background-color: #fff;
    font-size: 0.6rem;
}

.interventions-body .dynamic-row td {
    color: #1B85B8;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px;
}