.maintenance {
    width: 70%;
    margin: 0 auto;
}

#incidents-save {
    display: grid;
    border: 5px solid #ffc736;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 20px);
    background-color: #fff;
}

#interventions-save {
    display: grid;
    border: 5px solid #ffc736;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: 1fr 0.75fr 0.75fr 0.75fr 0.75fr;
    grid-template-rows: repeat(9, 20px);
    background-color: #fff;
}

#interventions-save textarea {
    grid-column: 2 / span 3;
    grid-row: 8 / span 2;
}

#maintenance-show {
    display: grid;
    border: 5px solid #ffc736;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20px);
    background-color: #fff;
}