* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: wheat;
  margin: 0;
  height: 100%;
}

fieldset {
  border-radius: 8px;
  border: 1px solid #f7b510;
  padding: .2rem .3rem;
}

button:disabled {
  cursor: default;
}

fieldset legend {
  color: #1B85B8;
  font-style: italic;
  font-size: 0.8rem;
}

header h1 {
  padding-inline: 25px;
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  align-self: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: #1B85B8;
}

.logo-name,
h1 {
  text-transform: uppercase;
}

header h1 {}

.logo-name {
  letter-spacing: 5px;
  font-weight: 900;
  font-family: Impact;
  rotate: -90deg;
}

header {
  display: flex;
  background-color: rgba(216, 144, 10, 0.767);
  justify-content: space-between;
}

.logo-image {
  width: 250px;
  height: 140px;
  object-fit: contain;
  margin-right: 2rem;
}

nav ul {
  text-transform: uppercase;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: #1B85B8;
  display: flex;
}

nav ul a span {
  margin-right: 10px;
}

.app-container {
  display: flex;
}

main {
  width: 100%;
}


.search {
  text-indent: 1.1rem;
  padding: 0.8em 1em;
  border-radius: 25px;
  border: 1px solid #eee;
  width: 50%;
  margin-left: 1rem;
}

.top-menu {
  width: 500px;
}

.input-container {
  position: relative;
  width: 50%;
}

.input-container i {
  position: absolute;
  left: 1.7rem;
  top: 0.75rem
}

.input-container button {
  padding: 0.6em 1.5em;
  margin-left: 0.5em;
  border: 1px solid #000;
}

.input-container button:hover {
  cursor: pointer;
}

.search:focus {
  outline: none;
  border: 0.5px solid #1B85B8;
}

.menu-list {
  margin: 0;
  margin-left: 0;
  padding-left: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.menu-list li {
  padding: 5px;
  border-bottom: 1px solid #1B85B8;
  background-color: aliceblue;
  margin: 0.1rem 0;
}

.menu-list li:hover {}

aside,
nav {
  margin: 0;
}

.menu-list li.active {
  background-color: #10113d;
  border: none;
  color: #fff
}



li.active a {
  color: #fff
}

.toolbar-filter>ul {
  margin: 0.5em 1.1em;
  display: flex;
  padding: 0;
  border: none;
  list-style-type: none;
  /*justify-content: space-around;*/
  text-transform: uppercase;
  background-color: #ffc736;
}

.toolbar-filter i {
  margin-right: 0;
}

.toolbar-filter a {
  text-decoration: none;
  color: #fff;
}

.toolbar-filter li:hover {
  color: #fff;
  background-color: #10113d;
}

.toolbar-filter li {
  margin-right: .3em;
  padding: 0.5em 1em;
  background-color: #ffc736;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
}

.toolbar-filter li.active {
  background-color: #10113d;
  position: relative;
}

.input-container label {
  margin: 0 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
}

main>div {
  display: flex;
  align-items: center;
}

.toolbar-actions {
  list-style-type: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 2.2em;
  display: none;
}

.menu li.active:hover .toolbar-actions {
  display: block;
}

.menu {
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #eec;
}

tr:hover {
  background-color: #ddd;
}


p.suivant a {
  color: #1B85B8;
}


.outlet {
  display: flex;
}

aside {
  width: 300px;
  background-color: rgba(216, 144, 10, 0.767);
  flex-direction: column;
  padding: 10px 1px;
  height: 100vh;
  flex-shrink: 0;
}

.outlet main {
  flex: 1;
}

aside .accordion {
  margin-left: -50px;
}

.dynamic-row {
  cursor: default;
}

.edit-btn {
  color: rgb(24, 54, 7);
}

.delete-btn {
  color: rgb(167, 4, 4);
}

.delete-btn,
.edit-btn,
.magasin-btn,
.ajout-btn {
  font-size: 0.7rem;
  cursor: pointer;
  background: none;
  padding: 3px;
  background-repeat: no-repeat;
  border: none;
  /* Ajoutez d'autres styles pour un meilleur affichage */
}