.res-container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 5px;
}

.res-container .menu-list {
    padding: 0;
    list-style: none;
    margin-top: 2rem;
}

.res-container .menu-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #1B85B8;
    padding-inline: 10px;
}

.res-container .menu-list li:hover {
    background-color: #10113d;
}

.res-container .menu-list li:hover a {
    color: #fff;
}

.res-container .menu-list li {
    border-bottom: none;
    text-align: center;
}